{% extends "plantilla.html" %}
{% block content %}

<div id="principal" class="card" style="width: 500px;">
  		<div id="titulo" class="card-divider " >
    		<div class="card-section">
    			<p class="text-center">Bienvenid@
    			</p>
    		</div>	
  		</div>
  		<div class="card-section">
  			<h4 class="text-center">¿Es tu primera vez?
  			</h4>
  			<p class="text-center">Rellena este formulario para conocer tus datos:</p>
  		</div>

		<div id="formulario"class="card">
			 

		</div>

		

		<div class="card-section">
  			<h4 class="text-center">¿Has estado aquí antes?
  			</h4>
  			<p class="text-center">Facilitanos tu DNI y te buscamos</p>
  		</div>

		<div id="formulario"class="card">....formulario....

		</div>
</div>
{% endblock %}